$border-radius: 5px;
$primary-color: #6800ed;
$sub-color: #888888;
$input-bg-color: #f1f2f6;
$separtor-color: #e1e1e1;
$color-text: #000000;
$font-family: Helvetica, Arial, sans-serif;
$line-height: 1.4;

$input-font-size: 20px;

$white-space-xxl: 130px;
$white-space-xl: 90px;
$white-space-l: 60px;
$white-space-m: 30px;
$white-space-s: 20px;

$breakpoint-l: 1200px;
$breakpoint-m: 768px;
$breakpoint-s: 420px;

$input-height: 80px;

$main-container-max: 1400px;
